<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/BaatnaServer</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.c3p0.max_size">500</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/application/baatna/bean/user.hbm.xml" />
		<mapping resource="com/application/baatna/bean/wish.hbm.xml" />
		<mapping resource="com/application/baatna/bean/message.hbm.xml" />
		<mapping resource="com/application/baatna/bean/session.hbm.xml" />
		<mapping resource="com/application/baatna/bean/categories.hbm.xml" />
		<mapping resource="com/application/baatna/bean/newsfeed.hbm.xml" />
		<mapping resource="com/application/baatna/bean/userwish.hbm.xml" />
		<mapping resource="com/application/baatna/bean/coupon.hbm.xml" />
	</session-factory>
</hibernate-configuration>
